html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--black);
  color: var(--white);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}
li {
  list-style: none;
}

:root {
  --black: #181a1c;
  --blue: #2e8af6;
  --pink: #f62e8e;
  --white: #ecebed;
  --light-grey: #727477;
  --dark-grey: #323436;
  --gradient: linear-gradient(to right, #f62e6c, #ac1af0);

  /*fonts*/
  --header-font-size: 1.8rem;
  --header-font-weight: 300;
  --paragraph-font-size: 1.6rem;
}
