.profile-page {
}

.profile-page__header {
}

.profile-page__basic-info {
  background-image: url("../../images/profile/Profile-Banner.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  padding-top: 8.5rem;
}

.profile-page__profile-picture {
  width: 15rem;
  border-radius: 50%;
  border-color: var(--black);
  border-style: solid;
  border-width: 0.2rem;
  box-shadow: 0 0 0 0.2rem var(--pink);
}
