@import url(./profile-stats-bar.css);
@import url(./content-tabs.css);
@import url(./profile-intro.css);

.profile-page {
  background-image: url("../../images/profile/Profile-Banner.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.profile-page__header {
  padding: 0 2.4rem;
}

.profile-page__content {
  padding: 0 2.4rem;
}
