.alert__header {
  display: flex;
  justify-content: space-around;
}

.alert__header__h1 {
  font-weight: normal;
}
.alert__header__h2 {
  color: #f62e8e;
  font-weight: normal;
}

.alert__main__h3 {
  margin: 2rem;
  color: #727477;
  font-weight: lighter;
  text-transform: uppercase;
}

.alert_section-h3 {
  margin: 2rem;
  color: #727477;
}

.alert-message {
  display: flex;
}

.icons {
  filter: invert(1);
}
