.search-bar-wrapper {
  padding: 2rem;
  width: 37.5rem;
  height: fit-content;
  display: flex;
  align-items: center;
  top: 0;
}

.search-bar {
  border: none;
  width: 32.7rem;
  height: 5rem;
  border-radius: 4rem;
  padding: 1.5rem;
  background-color: var(--dark-grey);
  display: block;
  overflow: hidden;
  color: var(--white);
}

.search-bar::placeholder {
  color: var(--white);
}

.search-bar__button {
  overflow: hidden;
  background: url(/Icon/Search.svg);
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  position: relative;
  right: 40px;
}
