@import url(./posts-content.css);
@import url(./posts-footer.css);
@import url(./posts-header.css);

.posts {
  padding: 20px 20px 0 20px;
  border-bottom: 2px solid var(--dark-grey);
  margin-bottom: 5px;
}

/*Modifier because padding not needed on profile page, it's in the main and header there.*/
.posts--profile-page {
  padding: 0 0 0 0;
}
